.footer {
  background-color: $cyan;
  .menu__sublink {
    transition: color 0.3s;
    &:hover {
      color: $purple;
    }
  }
  &__container {
    padding: 100px 15px 50px 15px;
    @media (max-width: $md2) {
      padding: 60px 15px 50px 15px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 630px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 300px;
    @media (max-width: $md2) {
      width: auto;
    }
    @media (max-width: 630px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    color: $white;
  }

  &__menu {
  }

  &__center {
    text-align: center;
    @media (max-width: 630px) {
      order: 3;
    }
  }

  &__up {
    margin-top: -15px;
    font-weight: 600;
    font-size: 18px;
    color: $white;
    cursor: pointer;
    margin-bottom: 35px;
    span {
      margin-right: 7px;
    }
    transition: color 0.3s;
    &:hover {
      color: $purple;
    }
    @media (max-width: 630px) {
      position: absolute;
      top: 0;
    }
  }

  &__logo {
    margin-bottom: 35px;
    @media (max-width: $md2) {
      display: none;
    }
  }

  &__policy {
    font-size: 18px;
    text-decoration-line: underline;
    color: $white;
    transition: color 0.3s;
    &:hover {
      color: $purple;
    }
    @media (max-width: $md2) {
      display: none;
    }
    @media (max-width: 630px) {
      display: block;
      text-align: left;
      margin-top: 30px;
      font-size: 16px;
    }
  }

  &__right {
    text-align: right;
    @media (max-width: 630px) {
      order: 2;
      text-align: left;
    }
  }

  &__item {
    margin-bottom: 7px;
    color: $white;
    text-align: right;
    font-size: 18px;
    @media (max-width: 630px) {
      text-align: left;
    }
  }

  &__confy {
    text-align: center;
    color: $white;
  }
  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding: 20px;
    .footer__policy {
      display: none;
      @media (max-width: $md2) {
        display: block;
        font-size: 16px;
      }
      @media (max-width: 630px) {
        display: none;
      }
    }
    @media (max-width: $md2) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.menu {
  &__sublist {
  }

  &__subitem {
  }

  &__sublink {
  }
}
